doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Sangomar

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    //img(src='assets/img/navbar-logo.svg', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Actualités
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Offres
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Le Groupe
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#team') Notre Equipe
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-heading.text-uppercase SANGOMAR
                .masthead-subheading La technologie au service de l'humain
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') A propos de Sangomar

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    h3.section-subheading.text-muted ...
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 SI
                        p.text-muted
                            | Dans un contexte où la prise de décision doit être rapide et adaptée, l’exécution des tâches automatisées, les opérations des activités dématérialisées, il est indispensable pour une organisation d’avoir à sa disposition un ensemble d’outils, de solutions adaptés afin de faciliter la communication entre les services, la prise en compte de l’évolution rapide des besoins, la collecte de l’information, son stockage, son traitement et sa diffusion. 
                            |Pour vous aider à disposer d’un système d’information opérant et performant afin d’appliquer aisément la stratégie de votre organisation, Sangomar vous apporte son expertise sur les différents points stratégiques de votre SI: 
                            |— Cartographie et urbanisation de votre système d’information — Choix des solutions adaptées à votre organisation — Conception ou refonte partielle ou totale de votre Système d’information — Développement d’applications métier — Collecte, stockage, traitement et restitution des données via des dashboards dynamiques — Formation et assistance technique des utilisateurs. 
                            |Nos collaborateurs, de par leur expérience et leur implication, vous apporteront un accompagnement et suivi adapté tout au long de la durée de notre intervention. 

                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
                        h4.my-3 Supply Chain
                        p.text-muted
                            | Notre valeur ajoutée s’exprime sur la double compétence Intégration ERP et Supply-Chain.
                            |Notre portefeuille évolue en permanence en fonction des évolutions du marché. L’idée est de rester agile et innovant tout en pérennisant les investissements.
                            |Nous disposons de compétences sur un large portefeuille de solutions. Nous pouvons aussi apporter une expertise en Lean Management et Lean Manufacturing pour piloter ensemble à travers une méthodologie adaptée au projet et axée sur les résultats et performance.
                            |Sangomar SC intègre, implémente des solutions BPM (Business Process Management)  et assure la formation pour une meilleure maîtrise d’œuvre de vos projets.
                            |Nous intervenons sur les métiers Manufacturing, Distribution, Retail, Logistique, Transport, dans les secteurs Production, Médical, Secteur public, Retail, E-commerce, Restauration rapide
                            |Porteur de Projet, décisionnaire, entreprise, Sangomar SC est à l’écoute de vos besoins. Demandez une expertise de votre projet.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Ingénieurie
                        p.text-muted
                            | Waiting for Lopez
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Méthodes et Procédés
                        p.text-muted
                            | Les invariables des entreprises performantes, quels que soient leur taille, leur secteur ou leurs domaines d’activités stratégiques demeurent les Hommes, les Méthodes et les Outils. Conscient de l’importance de ces facteurs clés de succès dans l’atteinte des objectifs de nos clients, SGC a développé un concept unique valorise ce triptyque au niveau micro c’est à dire au niveau de chaque projet et de façon holistique c’est à dire au niveau de l’entreprise en référence au concept d’individualisme méthodologique développé par Adam Smith.

                            |Etant donné que l’entreprise est une addition à somme nulle si on la segmente sur le critère des projets qui la constitue, nous parvenons à améliorer le résultat global de l’entreprise en re-définissant les outils et processus de chaque projet; une attention particulière est portée aux parties prenantes internes qui n’ont pas de valeur ajoutée sur le résultat, telles que les fonctions support (finance, communication, etc). 
                            |Convaincus que l’agilité est un mindset avant d’être une méthode de delivery, nous travaillons ensuite sur le capital humain de l’entreprise motrice des processus et outils mis en place grâce à un coaching personnalisé au travers de nos programmes de change management.

                            |Pour finir nous mettons en oeuvre les indicateurs pertinents de mesure de la performance qui s’inscrivent dans notre démarche d’amélioration continue. Les avantages concurrentielles des entreprises doivent se renouveler et s’améliorer de façon perpétuelle, nous accompagnons nos clients à instaurer cette philosophie au niveau humain de façon à l’intégrer dans la culture de l’entreprise.

                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Médecine Digitale
                        p.text-muted
                            | Waiting for Abdou
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Communication
                        p.text-muted
                            | Waiting for Abdou
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-lock.fa-stack-1x.fa-inverse
                        h4.my-3 Formations
                        p.text-muted
                            | Waiting for Laye

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Portfolio
                    h3.section-subheading.text-muted ...
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/01-thumbnail.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Build
                                .portfolio-caption-subheading.text-muted Illustration
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/02-thumbnail.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Run
                                .portfolio-caption-subheading.text-muted Graphic Design
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/03-thumbnail.jpg', alt='')
                            .portfolio-caption
                                .portfolio-caption-heading Conseils
                                .portfolio-caption-subheading.text-muted Identity

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 2009-2011
                                h4.subheading Our Humble Beginnings
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 March 2011
                                h4.subheading An Agency is Born
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 December 2012
                                h4.subheading Transition to Full Service
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 July 2014
                                h4.subheading Phase Two Expansion
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Notre Equipe
                    h3.section-subheading.text-muted ....
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/ndecky.jpg', alt='')
                            h4 Ghislain Ndecky
                            p.text-muted CEO - Associé
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/lopez.jpg', alt='')
                            h4 Mamadou Lopez
                            p.text-muted VP Supply Chain - Associé
                            p.text-muted Le diplomate du groupe diplomé diplomé d’IEP et de grande école de management est fort d’une expérience conséquente en gestion de projet logistique. Il a travaillé avec des entreprises du CAC 40 leader dans leur domaine et est aujourdhui pilote du BU SC.
                            | Il met à profit son expertise fonctionnelle (expertise métier) au service de projets de transformation idustrielle ainsi que des fonctions supports dans un contexte de dimension internationale. Entrepreneur et visionnaire, le métier a beaucoup évolué et il a su s'adapter en écoutant les clients et leurs aspiration, pour que chaque société et chaque individu ait plaisir à collaborer avec Sangomar GC ! Très accessible il saura vous écouter pour que votre environnement de travail soit épanouissant, dynamique , stimulant et beaucoup plus performant.

                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/ndoye.jpg', alt='')
                            h4 Malick Ndoye Gueye
                            p.text-muted VP SI - Associé
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/mamoss.jpg', alt='')
                            h4 VP Customer Excellence - Associé
                            p.text-muted Lead Designer
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/abdou.jpg', alt='')
                            h4 Abdoulatyr Diop
                            p.text-muted VP Communication - Associé
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/babs.jpg', alt='')
                            h4 Babacar FALL
                            p.text-muted Associé
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        //- // Clients
        //- div.py-5
        //-     .container
        //-         .row
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/envato.jpg', alt='')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/designmodo.jpg', alt='')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/themeforest.jpg', alt='')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.d-block.mx-auto(src='assets/img/logos/creative-market.jpg', alt='')

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contactez Nous
                    h3.section-subheading.text-muted ....
                form#contactForm(name='sentMessage', novalidate='novalidate')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group
                                input#name.form-control(type='text', placeholder='Votre Nom *', required='required', data-validation-required-message='Entrez votre nom')
                                p.help-block.text-danger
                            .form-group
                                input#email.form-control(type='email', placeholder='Votre Email *', required='required', data-validation-required-message='Entrez votre adresse email.')
                                p.help-block.text-danger
                            .form-group.mb-md-0
                                input#phone.form-control(type='tel', placeholder='Votre Téléphone *', required='required', data-validation-required-message='Entrez votre numéro de téléphone.')
                                p.help-block.text-danger
                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0
                                textarea#message.form-control(placeholder='Votre Message *', required='required', data-validation-required-message='Ecrivez votre message ici.')
                                p.help-block.text-danger
                    .text-center
                            #success
                            button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='Envoyer') Send Message

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left
                        | Copyright © Your Website 2020
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='#!')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-right
                        a.mr-3(href='#!') Privacy Policy
                        a(href='#!') Terms of Use

        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/01-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Threads
                                        li Category: Illustration
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/02-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Explore
                                        li Category: Graphic Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/03-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Finish
                                        li Category: Identity
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/04-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Lines
                                        li Category: Branding
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/05-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Southwest
                                        li Category: Website Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Window
                                        li Category: Photography
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')